*{
    margin: 0;
    padding: 0
    
}
html{
    scroll-behavior: smooth;
}


.pai{
    
    height: 100vh;
    background-color: yellow;

}

p{
    font-size: 2em;
}
#dois{
    background-color: gray;
    
    height: 100vh;
}
#tres{
    background-color: aquamarine;
   
    height: 100vh;
}
