*{
    margin: 0;
}
.pai{

}
.filha1, .filha2, .filha3{
    width: 300px;
    height: 300px; 
    
    margin: 10px;
}
.filha1{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
     margin-left: -150px;
    background-color:rgba(255, 0, 0, 0.397);
    z-index: 2;
    
  
}
.filha2{
    position: absolute;
    background-color: greenyellow;
    z-index: 1;
   
}
.filha3{
    background-color: blue;
    position: relative;
    z-index: 3;
    top: 100px;
    left: 300px;
}
.outra{
    background-color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -50px;

}
.filha4, .filha5, .filha6{
    width: 300px;
    height: 300px;
    margin: 10px;
}
.filha4{
    background-color: aqua;
    position: fixed;
    top: 5%;
    left: 50%;
    margin-left: -150px;
}
.filha5{
    background-color: yellow;
}
.filha6{
    background-color: blueviolet;
}


ul{
    height: 200px;
    overflow-y: auto;
    font-size: 2em;
}
ul li.sticky{
    position: sticky;
    top: 0;
    background-color: blue;
}