
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.coracao, .coracao1, .coracao2{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    background-color: red;
    width: 300px;
    height: 300px;
    transform: rotate(45deg);
    border-radius: 50% 50% 0px 50%;
   
}
.coracao1{
    position: absolute;
    background-color: blue;
    border-radius: 50%;
    top:50%;
    left: 47%;
    width: 230px;
    height: 230px;
}
