@charset "UTF-8";

:root{
    --cor-principal: #003262;
}
body{
    height: 120vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    flex-wrap: wrap;
}

header .lang{
    font-family: roboto;
    color: var(--cor-principal);
    background-color: white;
    font-weight: 900;
    font-size: 1em;
    border: 1px solid var(--cor-principal);
    width: 38px;
    height: 27px;
    cursor: pointer;
    border-radius: 3px;
   
}
header h1{
    font-family: roboto;
    font-size: 1.2em;
  
    color: var(--cor-principal);
    font-weight: bold;
    background-color: aqua;
    
}
.logo-p-mag{
    width: 100px;

}
.icon-sair{
    width: 30px;
    height: 25px;
    margin-top: 10px;
    
    
}

header .elementos-1{
    width: 150px;
    height: 90px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightblue;
   

}
header .languages{
    display: flex;
    flex-direction: column;
    gap: 4px;
}






form h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #294152;
    color: #ECEEF0;
    font-size: 18px;
    padding: 12px;
    font-weight: 500;

}
form p{
    color: var(--cor-principal);
}

form .alerta-1{
    display: flex;
    align-items: center;
    gap: 3%;
    padding-left: 4.5%;

}

.fundo-icon{
    position: relative;
    width: 19px;
    height: 21px;
    background-color: #003262;
   

    border-radius: 50%;

    
}
.traco-1{
    position: absolute;
    background-color: white;
    width: 3.3px;
    height: 8px;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    
}
.traco-2{
    position: absolute;
    background-color: white;
    width: 3.3px;
    height: 3.5px;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    
}





@media screen and (max-width: 457px) {
    header{
        height: 135px;
        align-items: flex-start;
        justify-content: space-around;
    }
    header .elementos-1{
        width: 100%;
        height: 86px;
        justify-content: space-around;
      
    }
    
  
}
@media screen and (max-width: 307px) {
    header{
        height: 180px;
    }
    header .elementos-1{
        height: 86px;
    }
}
