body{
    min-width: 350px;
 
 
}
:root{
    --cor-principal: #003262;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.fundo{
    background-image: url('../imagens/fundo.jpeg');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 280px;
    margin-top: 4%;
    margin-bottom: 500px;

}
.logo-pq{
    position: absolute;
    top: 265px;
    left: 1100px;
   
}

.logo-g img{
  
 width: 300px;
 height: 400px;
 object-fit: cover;
 object-position: -60px 0px;
  
  
  
   
    
}
.formulario{
   position: absolute;
   text-align: center;
   font-family: roboto;
   font-weight: normal;
   width: 400px;
   color: var(--cor-principal);
   height: 630px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.273);
   padding: 15px;
   background-color: white;
   top: 50%;
   left: 50%;
   margin: -200px;
   margin-top: -150px;
   border-radius: 10px;
   

  
  
}
.formulario .lang{
    font-family: roboto;
    color: var(--cor-principal);
    font-weight: 900;
    font-size: 1em;
    border: 1.2px solid var(--cor-principal);
    width: 38px;
    height: 23px;
    cursor: pointer;
    border-radius: 3px;
   
}
.formulario #pt{
    background-color: var(--cor-principal);
    color: #ffffff;
}
.formulario h1{
    margin-top: 30px;
    font-size: 4em;
    font-weight: lighter;
    
   
  
}
.formulario h2{
    font-size: 1.8em;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: lighter;
    
  
}
.formulario h3{
    font-size: 1.5em;
    padding: 20px;
    font-weight: lighter;
  
}
.formulario form input{
    border-radius: 3px;
    width: 320px;
    height: 45px;
    padding: 0px 10px;
    margin-top: 40px;
    border: 1px solid #CCCCCC;
    outline: none;
}
input:focus{
    outline-style: none;
    box-shadow: none;

}
   

.formulario form p .nome-conta , .formulario form p .senha {
    position: absolute;
    font-size: 0.75em;
    border: 1px solid white;
    height: 15px;
    width: 90px;
    border-radius: 2.5px;
    top: 300px;
    margin-left: -150px;
    z-index: 1;
    background-color: white;

}
.formulario form p .senha {
    position: absolute;
    top: 405px;
    width: 48px;
    
}

.formulario form input::placeholder{
    font-family: roboto;
    font-size: 1.2em;
    opacity: 0.5;
}
.formulario form  a{
    display: block;
    color: #3D5567;
    text-decoration: none;
    text-align: right;
    margin-right: 25px;
}
.formulario form ul #entrar a{
    background-color: var(--cor-principal);
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 27px;
}

.formulario form ul #entrar-com-sso a{
    background-color: white;
    color: var(--cor-principal);
    padding: 15px 22px;
    border-radius: 10px;
    border: 2px solid var(--cor-principal);
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
  

}
.formulario form ul{
    list-style-type: none;
    display: flex;
}
.formulario form #link-final{
    color: var(--cor-principal);
    text-decoration: underline;
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
    margin-top: 30px;
    

}
