body{
 overflow-x: hidden;
 width: 100vw;
 height: 160vh;

   
 
 
} 
:root{
    --cor-principal: #003262;
}


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
}
.fundo{
    background-image: url('../imagens/fundo.jpeg');
    background-position: center center;
    background-size: cover;
    height: 336px;
    width: 100vw;
    margin-top: 53px;
    margin-bottom: 500px;
    display: flex;
    align-items: end;
    justify-content: end;
    min-width:284px;   



}
.fundo .logo-pq{
    
   margin: 0px 3% 1% 0px;
  
   
}

.logo-g img{
    position: relative;
    top: -480px;
    margin-left: 720px;
    width: 100%;




 
  
  
}

.formulario{
   position: absolute;
   text-align: center;
   font-family: roboto;
   font-weight: normal;
   width: 400px;
  
   
   color: var(--cor-principal);
   height: 650px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.273);
   padding: 15px;
   background-color: white;
   top: 280px;
   margin-top: -150px;
   left: 50%;
   transform: translateX(-50%);
   border-radius: 10px;


   
   
   

  
  
}
.formulario .lang{
    font-family: roboto;
    color: var(--cor-principal);
    font-weight: 900;
    font-size: 1em;
    border: 1.2px solid var(--cor-principal);
    width: 38px;
    height: 23px;
    cursor: pointer;
    border-radius: 3px;
   
}
.formulario #pt{
    background-color: var(--cor-principal);
    color: #ffffff;
}
.formulario h1{
    margin-top: 30px;
    font-size: 4em;
    font-weight: lighter;

   
  
}
.formulario h2{
    font-size: 1.8em;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: lighter;
    
  
}
.formulario h3{
    font-size: 1.5em;
    padding: 20px;
    font-weight: lighter;

} 

.formulario form .teste{
    width: 90%;
    
}

.formulario form .teste input{
 
    border-radius: 3px;
    width: 100%;
    height: 42px;
    padding: 0px 10px;
    margin-top: 30px;
    border: 1px solid #CCCCCC;
    outline: none;
   
}
input:focus{
    outline-style: none;
    box-shadow: none;
    
    

} 
.formulario form .teste{
    position: relative;
}
.label-nome-conta{
    position: absolute;
    left: 20px;
    top: 80px;
}
.formulario form  a{
    display: block;
    color: #3D5567;
    text-decoration: none;
    text-align: right;
    
}

 
.formulario form .teste .nome-conta , .formulario form .teste .senha{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.79em;
    height: 15px;
    width: 100px;
    border-radius: 2.5px;
    transform: translate(10px, 38px);
    top: 200px;
    z-index: 1;
    background-color: white;
   

}  
.formulario form .teste .senha {
    width: 50px;
    
} 


.formulario form input::placeholder{
    font-family: roboto;
    font-size: 1.2em;
    opacity: 0.5;
   
}

.formulario form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.formulario form #links{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 90px;
    width: 90%;
    align-items: center;
    justify-content: space-between;
   
    
 
    
    
}

.formulario form #entrar{
    font-family: roboto;
    font-weight: bold;
    background-color: #003362;
    padding: 14px 20px;
    color: white;
    border-radius: 4px;

}
.formulario form #entrar-sso{
    display: inline;
    font-family: roboto;
    font-weight: bold;
    border: 2.3px solid var(--cor-principal);
    padding: 13px 22px;
   
    min-width: 150px;
    border-radius: 12px;
    color: var(--cor-principal);
    


}


.formulario form #link-final{
    color: var(--cor-principal);
    text-decoration: underline;
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
    margin-top: 40px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 560px;
    

}



        
        
       
    
   
