@charset "UTF-8";
@media screen and (max-width: 418px) {

    .formulario form #link-final{
        top: 605px;
      
    }
    
    
}

@media screen and (max-width: 600px) {

    .formulario{
        width: 70%;
        height: 675px;
    }
     
    .formulario form #links{
        display: flex;
   
        width: 100%;
        align-items: center;
        justify-content: space-around ;
        
        
        
     
        
        
    }
 
    
    
}