@charset "UTF-8";
:root{
    --cor-principal: #003262;
}
*{
    font-family: roboto;
}

#pagina-logado{
    display: none;
}
.header-logado{
    height: 108px;

    
}
.fundo-2{
    background-image: url('../imagens/fundo.jpeg');
    background-position: center center;
    background-size: cover;
    height: 200px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width:284px;   




}
.logo-pq-logado{
    margin: 130px 28px 12px 0;
    
    
    
}
.pag-fundo{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-weight: lighter;
    height: 180px;
    width: 230px;
    margin: 0 0 0 28px;
   
  
   
    
}
.p1-fundo, .p2-fundo, .p3-fundo{
    margin-top: -30px;
}
.p1-fundo{

}
.p2-fundo{
    padding-bottom: 10px;
}

.p3-fundo{
    padding: -20px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 22px;
    padding: 40px 0 70px 20px;
    color: var(--cor-principal);
       

}
.container a{
    display: flex;
    width: 270px;
    max-width: 270px;
    min-width: 270px;
    height: 100px;
    max-height: 100px;
    min-height: 100px;
    align-items: center;
    justify-content: flex-start;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.273);
    border-radius: 5px;
    font-size: 0.8em;
    cursor: pointer;
    text-decoration: none;
    color: var(--cor-principal);
}
  
    
   
    
a:active{
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.050);
}
.container a img{
    width: 45px;
    margin: 0 25% 0 10px;    
}
.container .editar{
    margin: 0 20% 0 10px;    
}


@media( max-width: 457px){
    .header-logado{
        height: 140px;
        
    }
    
}
