*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-style: sans-serif;
    font-size: 40px;
}
.grid{
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns:  repeat(3, 1fr);
    gap: 3px;
}

.grid div{
    background-color: tomato;
    min-height: 100px;
}
.grid div:nth-child(1){
    background-color: darkred;
    grid-area: 1 / 1 / 3 / 3 ;
}

